.custom-popup {
  max-height: 86vh;
  width: 90%;
  border-radius: 10px;
}

.custom-popup .popup-wrap {
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
}

.custom-popup .close-icon {
  position: absolute;
  right: 0px;
  top: -35px;
  width: 25px;
  height: 25px;
}