.wg-img-show {
  width: 100%;
  vertical-align: top
}
.wg-splitLine .splitLine-hr {
  border: 0 none;
  border-top: 1px solid #d3d3d3;
}
.wg-staticText {
  line-height: 1.6;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}
.wg-button {
  width: 100%;
  color: #fff;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  outline: none;
  border: none;
  letter-spacing: 2px;
  border-radius: 20px;
  text-align: center;
}