.agreement-popup {
  max-height: 86vh !important;
  width: 90%;
  border-radius: 10px;
}

.agreement-popup .agreement-wrap {
  padding: 10px 10px 41px 10px;
  max-height: 86vh !important;
  overflow-y: scroll;
  white-space: break-spaces;
  line-height: 1.6;
}

.agreement-popup .agreement-text {
  font-size: 12px;
  line-height: 20px;
}

.agreement-popup .agreement-confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  color: #1989fa;
  border-top: 1px solid #eee;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
}
