@keyframes animte-breathlamp {
  0%,
  50%,
  100% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(1.2);
  }
}

@keyframes animte-jump {
  0% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(3px);
  }
}
