@keyframes marquee-up {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes marquee-left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}
@keyframes animte-breathlamp {
  0%,
  50%,
  100% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(1.2);
  }
}

@keyframes animte-jump {
  0% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(3px);
  }
}
